@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer heading {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  h7,
  p {
    @apply scroll-mt-36 tracking-wide;
  }
}

@layer highlight {
  pre[data-theme='light'] {
    @apply block dark:hidden;
  }

  pre[data-theme='dark'] {
    @apply hidden dark:block;
  }

  code:is(:not(pre) > code[data-theme='light']) {
    @apply inline dark:hidden;
  }

  code:is(:not(pre) > code[data-theme='dark']) {
    @apply hidden dark:inline;
  }

  pre[data-theme='light'] > code > span > span[data-highlighted-chars=''] {
    color: #1e0a82 !important;
  }

  pre[data-theme='dark'] > code > span > span[data-highlighted-chars=''] {
    color: #8be9fd !important;
  }

  code:is(:not(pre) > code) {
    @apply before:!content-none after:!content-none dark:before:!content-none;
    @apply rounded-lg !border border-zinc-200 bg-zinc-50 !px-[0.3rem] !py-[0.3rem] !font-bold !tracking-widest dark:border-zinc-700 dark:bg-zinc-950;
  }
}

@layer utilities {
  .base-border-color {
    @apply border-opacity-80 dark:border-opacity-40;
  }

  .base-text-color {
    @apply text-zinc-600 dark:text-zinc-400;
  }

  .tab-active {
    @apply data-[state=active]:text-primary data-[state=active]:underline  data-[state=active]:decoration-primary data-[state=active]:underline-offset-[1.165rem] data-[state=active]:dark:text-primary;
  }

  .tab-inactive {
    @apply data-[state=inactive]:text-opacity-70  data-[state=inactive]:hover:text-opacity-90 data-[state=inactive]:hover:underline data-[state=inactive]:hover:decoration-zinc-200  data-[state=inactive]:hover:underline-offset-[1.165rem]  data-[state=inactive]:dark:text-opacity-70  data-[state=inactive]:dark:hover:text-opacity-90 dark:data-[state=inactive]:hover:decoration-zinc-700;
  }

  .json-highlight {
    @apply text-black dark:text-white [&>.boolean]:text-[#BD93F9]  [&>.key]:text-[#A31515] dark:[&>.key]:text-[#F1FA8C] [&>.null]:text-[#0000FF] dark:[&>.null]:text-[#BD93F9] [&>.number]:text-[#098658] dark:[&>.number]:text-[#BD93F9] [&>.string]:text-[#A31515] dark:[&>.string]:text-[#F1FA8C];
  }
}
