@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer highlight {
  pre[data-theme='light'] {
    @apply block dark:hidden;
  }

  pre[data-theme='dark'] {
    @apply hidden dark:block;
  }

  code:is(:not(pre) > code[data-theme='light']) {
    @apply inline dark:hidden;
  }

  code:is(:not(pre) > code[data-theme='dark']) {
    @apply hidden dark:inline;
  }

  pre[data-theme='light'] > code > span > span[data-highlighted-chars=''] {
    color: #9e8bfd !important;
  }

  pre[data-theme='dark'] > code > span > span[data-highlighted-chars=''] {
    color: #8be9fd !important;
  }

  code:is(:not(pre) > code) {
    @apply before:!content-none after:!content-none dark:before:!content-none;
  }
}
